<div class="row">
  <% @hairstyles.each do |hairstyle| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
      <%= link_to (image_tag hairstyle.image.url(:medium), class: 'image'), hairstyle %>
      
      </div>
    </div>
  <% end %>
</div>
 

  
    
     
    
  