<p>
  <%=image_tag @hairstyle.image.url(:medium) %>
</p>
 

<p>
  <strong>Name:</strong>
  <%= @hairstyle.name %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @hairstyle.price %>
</p>

<p>
  <strong>Hair Type:</strong>
  <%= @hairstyle.hair_type %>
</p>